# Importar las librerías

In [1]:
import pandas as pd

# Importar los datos

In [2]:
data = pd.read_csv("../datasets/datlas.csv")
data.head()

/Users/Pablo/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (12,13,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,FOLIO_ID,LAT,LONG,CODIGO POSTAL,CALLE,COLONIA,CAUSA SINIESTRO,TIPO VEHICULO,COLOR,MODELO_VEHICULO,...,AÑO,MES,DÍA NUMERO,DIA,HORA,ESTADO,CIUDAD_APROXIMADA,DATE,Unnamed: 20,Unnamed: 21
0,D00001,22.768507,-102.567896,98000,*EP 2 Boulevard Adolfo López Mateos,CERRADA DE CASA BLANCA,COLISION Y/O VUELCO,Camión,BLANCO,2016,...,2018,1,11,JUEVES,15,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,11/01/2018,NaN,NaN
1,D00002,25.647351,-100.140132,67277,AMERICA 65,BALCONES DE ZINDARO,COLISION Y/O VUELCO,Camión,BLANCO,2009,...,2018,1,25,JUEVES,10,NUEVO LEÓN,JUAREZ,25/01/2018,NaN,NaN
2,D00003,20.679917,-103.368657,44600,AV MEXICO,2 RIOS,COLISION Y/O VUELCO,Auto,BLANCO,2005,...,2018,1,15,LUNES,9,NUEVO LEÓN,GUADALUPE,15/01/2018,NaN,NaN
3,D00004,25.718027,-100.249990,66480,Avenida Conductores,Conductores Infonavit,COLISION Y/O VUELCO,Auto,GRIS,2016,...,2018,1,19,VIERNES,9,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,19/01/2018,NaN,NaN
4,D00005,19.266303,-99.331791,\N,UBERP3,Cuajimalpa,HUELGAS Y ALBOROTOS,Auto,NEGRO,2016,...,2018,1,3,MIERCOLES,16,NUEVO LEÓN,MONTERREY,03/01/2018,NaN,NaN

# Información de los datos

In [3]:
print("FILAS:     ", data.shape[0])
print("COLUMNAS:  ", data.shape[1])

FILAS:      116011
COLUMNAS:   22

**Información del dataset**

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116011 entries, 0 to 116010
Data columns (total 22 columns):
 FOLIO_ID              116011 non-null object
LAT                    113854 non-null float64
LONG                   113854 non-null float64
CODIGO POSTAL          115926 non-null object
CALLE                  116011 non-null object
COLONIA                115921 non-null object
CAUSA SINIESTRO        116011 non-null object
TIPO VEHICULO          115917 non-null object
COLOR                  115852 non-null object
MODELO_VEHICULO        115925 non-null object
NIVEL DAÑO VEHICULO    115088 non-null object
PUNTO DE IMPACTO       104935 non-null object
AÑO                    116008 non-null object
MES                    116011 non-null object
DÍA NUMERO             116011 non-null int64
DIA                    116011 non-null object
HORA                   116011 non-null object
ESTADO                 116011 non-null object
CIUDAD_APROXIMADA      116011 non-null object
DATE                   116011 non-null object
Unnamed: 20            8 non-null object
Unnamed: 21            1 non-null object
dtypes: float64(2), int64(1), object(19)
memory usage: 19.5+ MB

**Borrar columnas que no sirven**

In [9]:
data = data.drop(["Unnamed: 20", "Unnamed: 21"], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116011 entries, 0 to 116010
Data columns (total 20 columns):
 FOLIO_ID              116011 non-null object
LAT                    113854 non-null float64
LONG                   113854 non-null float64
CODIGO POSTAL          115926 non-null object
CALLE                  116011 non-null object
COLONIA                115921 non-null object
CAUSA SINIESTRO        116011 non-null object
TIPO VEHICULO          115917 non-null object
COLOR                  115852 non-null object
MODELO_VEHICULO        115925 non-null object
NIVEL DAÑO VEHICULO    115088 non-null object
PUNTO DE IMPACTO       104935 non-null object
AÑO                    116008 non-null object
MES                    116011 non-null object
DÍA NUMERO             116011 non-null int64
DIA                    116011 non-null object
HORA                   116011 non-null object
ESTADO                 116011 non-null object
CIUDAD_APROXIMADA      116011 non-null object
DATE                   116011 non-null object
dtypes: float64(2), int64(1), object(17)
memory usage: 17.7+ MB

**Como tenemos demasiados datos de los que podemos hacer un modelo, y por el tiempo con el que contamos vamos a darnos el lujo de eliminar cualquier columnas que contenga algun dato vacío**

In [10]:
data.dropna(how="any", axis=0, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102977 entries, 1 to 116010
Data columns (total 20 columns):
 FOLIO_ID              102977 non-null object
LAT                    102977 non-null float64
LONG                   102977 non-null float64
CODIGO POSTAL          102977 non-null object
CALLE                  102977 non-null object
COLONIA                102977 non-null object
CAUSA SINIESTRO        102977 non-null object
TIPO VEHICULO          102977 non-null object
COLOR                  102977 non-null object
MODELO_VEHICULO        102977 non-null object
NIVEL DAÑO VEHICULO    102977 non-null object
PUNTO DE IMPACTO       102977 non-null object
AÑO                    102977 non-null object
MES                    102977 non-null object
DÍA NUMERO             102977 non-null int64
DIA                    102977 non-null object
HORA                   102977 non-null object
ESTADO                 102977 non-null object
CIUDAD_APROXIMADA      102977 non-null object
DATE                   102977 non-null object
dtypes: float64(2), int64(1), object(17)
memory usage: 16.5+ MB

**Tamaño del dataset sobrante**

In [11]:
print("FILAS:     ", data.shape[0])
print("COLUMNAS:  ", data.shape[1])

FILAS:      102977
COLUMNAS:   20

### Eliminar las filas que no nos sirven para los análisis

**Eliminar el número de Folio**

In [12]:
data = data.drop(" FOLIO_ID", axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102977 entries, 1 to 116010
Data columns (total 19 columns):
LAT                    102977 non-null float64
LONG                   102977 non-null float64
CODIGO POSTAL          102977 non-null object
CALLE                  102977 non-null object
COLONIA                102977 non-null object
CAUSA SINIESTRO        102977 non-null object
TIPO VEHICULO          102977 non-null object
COLOR                  102977 non-null object
MODELO_VEHICULO        102977 non-null object
NIVEL DAÑO VEHICULO    102977 non-null object
PUNTO DE IMPACTO       102977 non-null object
AÑO                    102977 non-null object
MES                    102977 non-null object
DÍA NUMERO             102977 non-null int64
DIA                    102977 non-null object
HORA                   102977 non-null object
ESTADO                 102977 non-null object
CIUDAD_APROXIMADA      102977 non-null object
DATE                   102977 non-null object
dtypes: float64(2), int64(1), object(16)
memory usage: 15.7+ MB

**Eliminar la calle, colonia, codigo postal**

In [14]:
data = data.drop(["CALLE", "CODIGO POSTAL", "COLONIA"], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102977 entries, 1 to 116010
Data columns (total 16 columns):
LAT                    102977 non-null float64
LONG                   102977 non-null float64
CAUSA SINIESTRO        102977 non-null object
TIPO VEHICULO          102977 non-null object
COLOR                  102977 non-null object
MODELO_VEHICULO        102977 non-null object
NIVEL DAÑO VEHICULO    102977 non-null object
PUNTO DE IMPACTO       102977 non-null object
AÑO                    102977 non-null object
MES                    102977 non-null object
DÍA NUMERO             102977 non-null int64
DIA                    102977 non-null object
HORA                   102977 non-null object
ESTADO                 102977 non-null object
CIUDAD_APROXIMADA      102977 non-null object
DATE                   102977 non-null object
dtypes: float64(2), int64(1), object(13)
memory usage: 18.4+ MB

**Eliminar el color y modelo del vehículo**

In [15]:
data = data.drop(["COLOR", "MODELO_VEHICULO"], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102977 entries, 1 to 116010
Data columns (total 14 columns):
LAT                    102977 non-null float64
LONG                   102977 non-null float64
CAUSA SINIESTRO        102977 non-null object
TIPO VEHICULO          102977 non-null object
NIVEL DAÑO VEHICULO    102977 non-null object
PUNTO DE IMPACTO       102977 non-null object
AÑO                    102977 non-null object
MES                    102977 non-null object
DÍA NUMERO             102977 non-null int64
DIA                    102977 non-null object
HORA                   102977 non-null object
ESTADO                 102977 non-null object
CIUDAD_APROXIMADA      102977 non-null object
DATE                   102977 non-null object
dtypes: float64(2), int64(1), object(11)
memory usage: 16.8+ MB

**Eliminar el Estado ya que todos están en Nuevo León**

In [17]:
data = data.drop("ESTADO", axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102977 entries, 1 to 116010
Data columns (total 13 columns):
LAT                    102977 non-null float64
LONG                   102977 non-null float64
CAUSA SINIESTRO        102977 non-null object
TIPO VEHICULO          102977 non-null object
NIVEL DAÑO VEHICULO    102977 non-null object
PUNTO DE IMPACTO       102977 non-null object
AÑO                    102977 non-null object
MES                    102977 non-null object
DÍA NUMERO             102977 non-null int64
DIA                    102977 non-null object
HORA                   102977 non-null object
CIUDAD_APROXIMADA      102977 non-null object
DATE                   102977 non-null object
dtypes: float64(2), int64(1), object(10)
memory usage: 16.0+ MB

**Eliminar DATE porque ya tenemos la información en otras columnas**

In [22]:
data = data.drop("DATE ", axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102977 entries, 1 to 116010
Data columns (total 12 columns):
LAT                    102977 non-null float64
LONG                   102977 non-null float64
CAUSA SINIESTRO        102977 non-null object
TIPO VEHICULO          102977 non-null object
NIVEL DAÑO VEHICULO    102977 non-null object
PUNTO DE IMPACTO       102977 non-null object
AÑO                    102977 non-null object
MES                    102977 non-null object
DÍA NUMERO             102977 non-null int64
DIA                    102977 non-null object
HORA                   102977 non-null object
CIUDAD_APROXIMADA      102977 non-null object
dtypes: float64(2), int64(1), object(9)
memory usage: 15.2+ MB

## Ahora limpiar los datos dependiendo de la información que contienen

**Solo información que está dentro de Nuevo León. Acotado por:**
*  LONG(-102, -95)
*  LAT(>22.5)

In [25]:
print(f"COLUMNAS INICIALES: {data.shape[0]}")

COLUMNAS INICIALES: 102977

In [26]:
data_filtered_long_01 = data[data["LONG"] < -95]
print(f"COLUMNAS: {data_filtered_long_01.shape[0]}")

COLUMNAS: 94822

In [28]:
data_filtered_long_02 = data_filtered_long_01[data_filtered_long_01["LONG"] > -102]
print(f"COLUMNAS: {data_filtered_long_02.shape[0]}")

COLUMNAS: 94809

In [29]:
data_filtered_long_03 = data_filtered_long_02[data_filtered_long_02["LAT"] > 22.5]
print(f"COLUMNAS: {data_filtered_long_03.shape[0]}")

COLUMNAS: 94776

In [30]:
data = data_filtered_long_03
print(f"FILAS NUEVAS: {data.shape[0]}")

FILAS NUEVAS: 94776

**Vamos a revisar que las causas del siniestro no tengan valores raros**

In [31]:
data["CAUSA SINIESTRO"].unique()

array(['COLISION Y/O VUELCO', 'ATROPELLO', 'INCENDIO RAYO O EXPLOSION',
       'DAÑOS POR LA CARGA', 'HUELGAS Y ALBOROTOS',
       'FENOMENOS DE LA NATURALEZA', 'TRANSPORTACION', 'Real de Cumbres',
       'Parque Industrial Pedreras'], dtype=object)

In [32]:
data_filtered_01 = data[data["CAUSA SINIESTRO"] != "Real de Cumbres"]
print(f"FILAS NUEVAS: {data_filtered_01.shape[0]}")

FILAS NUEVAS: 94774

In [33]:
data_filtered_02 = data_filtered_01[data_filtered_01["CAUSA SINIESTRO"] != "Parque Industrial Pedreras"]
print(f"FILAS NUEVAS: {data_filtered_02.shape[0]}")

FILAS NUEVAS: 94773

In [35]:
data = data_filtered_02
print(f"FILAS RESTANTES: {data.shape[0]}")

FILAS RESTANTES: 94773

**Ahora vamos a revisar el tipo de vehículo**

In [38]:
data["TIPO VEHICULO"].unique()

array(['Camión', 'Auto', 'Camión Ligero', 'Motocicleta', '\\N'],
      dtype=object)

In [39]:
data = data[data["TIPO VEHICULO"] != "\\N"]
print(f"FILAS RESTANTES: {data.shape[0]}")

FILAS RESTANTES: 94422

**Ahora vamos a checar el nivel de daño del vehiculo**

In [40]:
data["NIVEL DAÑO VEHICULO"].unique()

array(['Sin daño', 'Bajo', 'Medio', 'Alto'], dtype=object)

**Ahora vamos a ver el punto de impacto**

In [41]:
data["PUNTO DE IMPACTO"].unique()

array(['Costado izq trasero', 'Frontal', 'Trasero', 'Costado der central',
       'Costado izq delantero', 'Costado der trasero', 'Cofre',
       'Tapa cajuela', 'Costado der delantero', 'Parte baja',
       'Costado izq central', 'Toldo'], dtype=object)

Como no nos es de gran ayuda la columna la vamos a descartar. No nos sirve para predecir si un auto va a chocar o donde es más frecuente que choquen, solamente nos dice como se chocó.

In [42]:
data = data.drop("PUNTO DE IMPACTO", axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94422 entries, 1 to 116010
Data columns (total 11 columns):
LAT                    94422 non-null float64
LONG                   94422 non-null float64
CAUSA SINIESTRO        94422 non-null object
TIPO VEHICULO          94422 non-null object
NIVEL DAÑO VEHICULO    94422 non-null object
AÑO                    94422 non-null object
MES                    94422 non-null object
DÍA NUMERO             94422 non-null int64
DIA                    94422 non-null object
HORA                   94422 non-null object
CIUDAD_APROXIMADA      94422 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 8.6+ MB

**Ahora vamos a checar el año**

In [43]:
data["AÑO"].unique()

array(['2018', '2017', '2016', 2016.0], dtype=object)

Vamos a forzar a que la columna sea un string, para poder unir los dos **2016**

In [46]:
data["AÑO"] = data["AÑO"].astype(str)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94422 entries, 1 to 116010
Data columns (total 11 columns):
LAT                    94422 non-null float64
LONG                   94422 non-null float64
CAUSA SINIESTRO        94422 non-null object
TIPO VEHICULO          94422 non-null object
NIVEL DAÑO VEHICULO    94422 non-null object
AÑO                    94422 non-null object
MES                    94422 non-null object
DÍA NUMERO             94422 non-null int64
DIA                    94422 non-null object
HORA                   94422 non-null object
CIUDAD_APROXIMADA      94422 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 8.6+ MB

In [47]:
data["AÑO"].unique()

array(['2018', '2017', '2016', '2016.0'], dtype=object)

In [48]:
years = {
    "2018": "2018",
    "2017": "2017",
    "2016": "2016",
    "2016.0": "2016"
}
data["AÑO"] = data["AÑO"].map(years)
data["AÑO"].unique()

array(['2018', '2017', '2016'], dtype=object)

**Ahora vamos a checar los meses**

In [49]:
data["MES"].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, '9', '10', '11', '12', '1',
       '2', '3', '4', '6', '7', '8', '5'], dtype=object)

In [53]:
data["MES"] = data["MES"].astype(str)
data["MES"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dtype=object)

**Ahora vamos a checar los días**

In [54]:
data["DIA"].unique()

array(['JUEVES', 'VIERNES', 'LUNES', 'MARTES', 'MIERCOLES', 'SABADO',
       'DOMINGO'], dtype=object)

**Ahora vamos a checar los números de día**

In [56]:
data["DÍA NUMERO"].unique()

array([25, 19, 29, 26,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13,
       14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 27, 28, 30, 31])

**Ahora vamos a checar la hora**

In [57]:
data["HORA"].unique()

array(['10', '9', '17', '2', '0', '4', '5', '11', '12', '13', '14', '16',
       '19', '20', '21', '22', '23', '7', '8', '15', '18', '6', '1', '3'],
      dtype=object)

**Ya solo falta la ciudad aproximada**

In [58]:
data["CIUDAD_APROXIMADA"].unique()

array(['JUAREZ', 'SAN NICOLAS DE LOS GARZA', 'GUADALUPE', 'MONTERREY',
       'SANTIAGO', 'SABINAS HIDALGO', 'APODACA', 'ALLENDE', 'LINARES',
       'GENERAL ESCOBEDO', 'GARZA GARCIA', 'GARCIA', 'CADEREYTA JIMENEZ',
       'ARAMBERRI', 'MONTEMORELOS', 'SANTA CATARINA', 'HUALAHUISES',
       'PESQUERIA', 'GENERAL TERAN', 'SALINAS VICTORIA',
       'CIENEGA DE FLORES', 'CHINA', 'GENERAL ZUAZUA', 'CARMEN',
       'GENERAL BRAVO', 'VILLALDAMA', 'RAMONES', 'GALEANA', 'VALLECILLO',
       'MELCHOR OCAMPO', 'MARIN', 'MINA', 'ABASOLO', 'ANAHUAC',
       'CUAUHTÉMOC', 'HIDALGO', 'DOCTOR ARROYO', 'LAMPAZOS DE NARANJO',
       'CUAUHTÁ‰MOC', 'SAN RAFAEL', 'SAN ROBERTO', 'HIGUERAS', 'ITURBIDE',
       'GENERAL ZARAGOZA', 'AGUALEGUAS', 'CERRALVO', 'CENTRO DE LINARES',
       'BUSTAMANTE', 'DOCTOR GONZALEZ', 'RAYONES', 'DEL PASEO',
       'ARBOLEDAS DEL VALLE', 'COLONIA MIGUEL HIDALGO',
       'HACIENDA LOS NOGALES', 'MIRADOR RESIDENCIAL', '\\N', 'EL CARMEN',
       'AQUILES SERDÁN', 'LOS ALDAMAS', 'DEL VIDRIO', 'VALLE ORIENTE'],
      dtype=object)

In [59]:
print(f"FILAS ANTES DE LA LIMPIEZA: {data.shape[0]}")
data = data[data["CIUDAD_APROXIMADA"] != "\\N"]
print(f"FILAS DESPUES: {data.shape[0]}")

FILAS ANTES DE LA LIMPIEZA: 94422
FILAS DESPUES: 94179

In [60]:
data["CIUDAD_APROXIMADA"].unique()

array(['JUAREZ', 'SAN NICOLAS DE LOS GARZA', 'GUADALUPE', 'MONTERREY',
       'SANTIAGO', 'SABINAS HIDALGO', 'APODACA', 'ALLENDE', 'LINARES',
       'GENERAL ESCOBEDO', 'GARZA GARCIA', 'GARCIA', 'CADEREYTA JIMENEZ',
       'ARAMBERRI', 'MONTEMORELOS', 'SANTA CATARINA', 'HUALAHUISES',
       'PESQUERIA', 'GENERAL TERAN', 'SALINAS VICTORIA',
       'CIENEGA DE FLORES', 'CHINA', 'GENERAL ZUAZUA', 'CARMEN',
       'GENERAL BRAVO', 'VILLALDAMA', 'RAMONES', 'GALEANA', 'VALLECILLO',
       'MELCHOR OCAMPO', 'MARIN', 'MINA', 'ABASOLO', 'ANAHUAC',
       'CUAUHTÉMOC', 'HIDALGO', 'DOCTOR ARROYO', 'LAMPAZOS DE NARANJO',
       'CUAUHTÁ‰MOC', 'SAN RAFAEL', 'SAN ROBERTO', 'HIGUERAS', 'ITURBIDE',
       'GENERAL ZARAGOZA', 'AGUALEGUAS', 'CERRALVO', 'CENTRO DE LINARES',
       'BUSTAMANTE', 'DOCTOR GONZALEZ', 'RAYONES', 'DEL PASEO',
       'ARBOLEDAS DEL VALLE', 'COLONIA MIGUEL HIDALGO',
       'HACIENDA LOS NOGALES', 'MIRADOR RESIDENCIAL', 'EL CARMEN',
       'AQUILES SERDÁN', 'LOS ALDAMAS', 'DEL VIDRIO', 'VALLE ORIENTE'],
      dtype=object)

In [68]:
print(f"Hay {len(set(data['CIUDAD_APROXIMADA'].unique().tolist()))} ciudades cercanas")

Hay 60 ciudades cercanas

## Ya se puede considerar limpio el dataset, vamos a exportarlo como .csv

In [70]:
data.to_csv('../datasets/datlas_clean.csv', index = False, header=True)